@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    background-color: rgb(251, 235, 233);
    font-family: "Poppins", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

nav a{
    text-decoration: none;
    color: rgb(193, 65, 57);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-shadow: -1px -1px 0 #fff,  /* Contour en noir */
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

input[type="search"] {
    padding: 8px 36px 8px 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23999' stroke-width='2'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 16px;
    font-size: 14px;
    outline: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

main h1{
    font-weight: 600;
    font-size: 52px;
    text-align: center;
}

main .home-description{
    font-weight: 200;
    opacity: .5;
    font-size: 21px;
    text-align: center;
}

main form{
    width: 35%;
}

main form input{
    width: 100%;
}

footer{
    padding: 0 1em;
}

.weather-result{
    width: 75%;
    display: grid;
    flex-direction: column;
    gap: 1em;
    height: 80%;
}

.meteo-header{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background-image: url("meteoheader-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 0 1.5em;
    border-radius: 1em;
}

.meteo-header div{
    margin-top: 2em;
    margin-bottom: 1em;
}

.meteo-header div img{
    margin-left: -.8em;
    margin-bottom: -1em;
    width: 4em;
    height: auto;
}

.meteo-header div .header-temp{
    font-weight: 300;
    font-size: 36pt;
    margin: 0;
}

.meteo-header div h1{
    font-weight: 300;
    font-size: 26pt;
    margin: 0;
}

.meteo-header div:nth-last-child(1){
    text-align: right;
    margin-bottom: 1.8em;
}

.meteo-header div:nth-last-child(1) p{
    margin: 0;
}

.meteo-header div:nth-last-child(1) p:nth-child(1){
    font-size: 26pt;
}

.material-symbols-outlined{
    color: rgb(193, 65, 57);
    transform: scale(1.8);
    padding-left: .25em;
}

.meteo-details{
    width: 100%;
    margin: 0;
    display: grid;
    grid: 100% 100% / 1fr 2fr;
    gap: 1em;
    justify-content: space-between;
}

.meteo-details h2{
    margin: 0;
    font-weight: 500;
    font-size: 16pt;
}

.meteo-details h3{
    font-weight: 400;
    margin: 0;
    font-size: 8pt;
}

.meteo-details .sun-air, .temps, .levels{
    background-color: white;
    border-radius: 15px;
    padding: .5em;
}

.meteo-details .temps{
    height: 50%;
}

.meteo-details .levels{
    height: 50%;
}

.meteo-details .details-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

}

.meteo-details .details-side .sun-air{
    height: 100%;
}

.meteo-details .sun-air-items{
    display: grid;
    grid: 100% 100% / 1fr 1fr;
    gap: .5em;
    align-items: center;
    justify-content: center;
}

.meteo-details .temps-items{
    display: grid;
    grid: 100% 100% / 1fr 1fr 1fr;
    gap: .5em;
    align-items: center;
    justify-content: space-between;
    place-items: center;
    height: 80%;
}

.meteo-details .levels-items{
    display: grid;
    grid: 100% 100% / 1fr 1fr 1fr;
    gap: .5em;
    align-items: center;
    justify-content: center;
    place-items: center;
    height: 80%;
}

.meteo-details .meteo-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.meteo-details .meteo-item .meteo-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.meteo-details .meteo-item .meteo-text p{
    margin: 0;
}